.login-form-field:focus,
.login-form-field:valid{
  border-bottom: 3px solid #bb7e24;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background: #bb7e24;
}

#signup-form-submit {
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bb7e24;
  color: #bb7e24;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

