*{
  font-family: 'Montserrat';
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px; /* add space above & below */
    align-items: center
}


#login-holder {
    margin-top: 0px;
}

.title {
    margin-bottom : 25px;
}

#welcome-msg {
  font-size: 16px;
  font-weight: bold;
}

#login-info-form {
  align-self: flex-start;
  display: grid;
  padding: 0px;
  padding-bottom: 35px;
  margin: 0;
  justify-items: center;
  align-items: center;
}

/* Only when text is entered AND invalid */
input[type="email"]:invalid:not(:placeholder-shown),
input[type="password"]:invalid:not(:placeholder-shown){
  border-color: red;
  box-shadow: 0 0 0 3px rgba(255,0,0,0.08);
}

input[type="email"]:invalid:not(:placeholder-shown) + label,
input[type="password"]:invalid:not(:placeholder-shown) + label,
input[type="date"] + label {
  color: #424242;
  font-size: 11px;
  top: -45px;
  pointer-events: none;
}

.login-info-form-field:focus,
.login-info-form-field:valid,
.user-info-form-field:focus,
.user-info-form-field:valid {
  border-bottom: 3px solid #9b2b5a;
}

#form-submit:hover {
  color: #9b2b5a;
}

#form-submit {
  background-color: #9b2b5a;
  border-color: #9b2b5a;
}

.custom-divider {
  margin: 30px;
}
