*{
  font-family: 'Montserrat';
}

.login-form-field:focus,
.login-form-field:valid{
  border-bottom: 3px solid #bb7e24;
}

#login-form-submit:hover {
  color: #bb7e24;
}

#signup-form-submit:hover {
  background-color: #bb7e24;
  color: white;
}

#login-form-submit {
  background-color: #bb7e24;
  border-color: #bb7e24;
}

#signup-form-submit {
  border-color: #bb7e24;
  color: #bb7e24;
}

.custom-divider {
  margin: 20px;
}

